.hovernav {
    .nav {
        position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;overflow: scroll;
        li {
            a {color: $white-text;font-weight: 700;}
        }
    }
}
.dropdown-menu .dropdown .dropdown-menu {padding-left: 1rem;padding-right: 1rem;}
.carousel-caption {background-color: rgba(0,0,0,0.75);}
.tab {
    margin-bottom: 10px;
    .tab-header {margin-bottom: auto;padding: 5px 10px; background-image: linear-gradient(to bottom right,$blue,darken($blue,20%)); color: $white-text;border-radius: 6px 6px 0px 0px;font-size: 1.1rem;}
    .tab-body {
        background-color: $white-text; padding:10px;border-bottom: 1px solid $gray;border-left: 1px solid $gray;border-right: 1px solid $gray;border-radius: 0px 0px 6px 6px;
        .newsitem {
            margin-bottom: 5px;
            .date {font-size: 1.2rem;}
        }
    }

}

.bg-primary {background-image: linear-gradient(to bottom right,$blue,darken($blue,20%));}
.bg-md-primary {background-color: transparent;}
#ttdttxmap {height: 300px; width:100%;}
.closewrap {justify-content: flex-end;}

@media (min-width: 768px) {
    .bg-md-primary {background-image: linear-gradient(to bottom right,$blue,darken($blue,20%));}
    .hovernav {
        .nav {
            position: initial;overflow: unset;
            .dropdown-menu {
                a:hover {color: $blue;background-color: #f8f9fa;}   
            }
            .dropdown:hover,.dropup:hover,.dropright:hover,.dropleft:hover {
                & > .dropdown-menu {display: block;}
            }
            .dropup {
                .dropright,.dropleft {
                    .dropdown-menu {bottom: 0; top: auto;}
                } 
            }
            & > li {
                & > a {border-right: 1px solid $white-text;} 
            }
        }
    }

    .dropdown-menu .dropdown .dropdown-menu {padding-left: 0;padding-right: 0;}    
}